[submodule "examples/fuse-react-dev"]
	path = examples/fuse-react-dev
	url = https://github.com/laragis/fuse-react.git
	branch = dev
[submodule "examples/fuse-react-master"]
	path = examples/fuse-react-master
	url = https://github.com/laragis/fuse-react.git
	branch = master
[submodule "packages/react-hooks"]
	path = packages/react-hooks
	url = https://github.com/laragis/react-hooks.git
[submodule "packages/ts-utils"]
	path = packages/ts-utils
	url = https://github.com/laragis/ts-utils.git
[submodule "packages/ts-config"]
	path = packages/ts-config
	url = https://github.com/laragis/ts-config.git
[submodule "packages/redux-form"]
	path = packages/redux-form
	url = https://github.com/laragis/redux-form.git
[submodule "packages/redux-leaflet"]
	path = packages/redux-leaflet
	url = https://github.com/laragis/redux-leaflet.git
[submodule "packages/ts-geom-utils"]
	path = packages/ts-geom-utils
	url = https://github.com/laragis/ts-geom-utils.git
