[submodule "examples/fuse-react-dev"]
	path = examples/fuse-react-dev
	url = https://github.com/laragis/fuse-react.git
	branch = dev
[submodule "examples/fuse-react-master"]
	path = examples/fuse-react-master
	url = https://github.com/laragis/fuse-react.git
	branch = master
